body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 10rem;
	font-family: "Lato", sans-serif;
}

div.card {
	width: 40rem;
	height: 50rem;
	border-radius: 10px;

}

img {
	border-radius: 10px;
}

div.card-header {
	color: white;
	background-color: black;
	border-radius: 10px;
}

#Container {
	font-weight: 600;
	font-size: 3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#Span-1 {
	font-weight: 600;
	font-size: 3rem;
	margin-right: 1rem;
}

#Span-2 {
	font-weight: 600;
	font-size: 3rem;
	margin-left: 1rem;
}

p.card-text {
	text-align: end;
	font-weight: 500;
	margin-right: 1rem;
}

#Select-Container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
select.form-select {
	width: 20rem;
}

label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

#Bottoms {
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-top: 1rem;
}

#Button-1, #Button-2 {
	border-radius: 10px;
	padding: 1rem 3rem;
}

#Button-3 {
	border-radius: 10px;
	padding: 1rem 4.5rem;
}

@media (min-width: 375px) and (max-width: 1200px) {
	div.card {
		width: 50vw;
		height: 140vh;
		border: none;
	}

	h1.card-title {
		text-align: center;
	}

	#Container,
	label {
		justify-content: center;
	}

	p.lead {
		text-align: center;
	}

	#Select-Container {
		justify-content: center;
	}

	#Bottoms {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#Button-1, #Button-2 {
		margin-bottom:2px;
	}

	#Button-3 {
		padding: 1rem 4.75rem;
	}
}