body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 10rem;
	font-family: "Lato", sans-serif;
}

div.card {
	width: 40rem;
	height:52rem;
	border-radius: 10px;
}

img {
	border-radius: 10px;
}

div.card-header {
	color: white;
	background-color: black;
	border-radius: 10px;
}

#Container {
	font-weight: 600;
	font-size: 3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#Span-1 {
	font-weight: 600;
	font-size: 3rem;
	margin-right: 1rem;
}

#Span-2 {
	font-weight: 600;
	font-size: 3rem;
	margin-left: 1rem;
}

p.card-text {
	text-align: center;
	font-weight: 500;
	margin-bottom: 2rem;
}

#Select-Container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

select.form-select {
	width: 20rem;
	border-radius: 10px;
}

label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
}

#Bottoms {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2rem;
}

#Button-1,
#Button-2 {
	border-radius: 10px;
	padding: 1rem 1rem;
	font-weight: bold;
	margin-right: 5px;
}

#Button-3 {
	border-radius: 10px;
	padding: 1rem 1rem;
	font-weight: bold;
}

@media (min-width: 375px) and (max-width: 1200px) {
	body {
		padding: 5rem 5rem;
	}
	
	div.card {
		width: 50vw;
		height: 46rem;
		border: none;
	}

	h1.card-title {
		text-align: center;
	}

	#Container,
	label {
		justify-content: center;
	}

	p.lead {
		text-align: center;
	}

	#Select-Container {
		justify-content: center;
	}

	#Bottoms {
		display: grid;
		grid-template-columns: 1fr;
	}

	#Button-1,
	#Button-2 {
		margin-bottom: 5px;
		margin-right: 0;
	}
}